#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.button {
  margin-right: 15px;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 3px;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#header > button{
  margin-right: 15px;
}

#landing {
  display: flex;
  height: calc(100vh - var(--icon-size) - 8px);
  width: 100%;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 32px;
}

#projects {
  display: flex;
  height: 100svh;
  width: 100%;
}

#projects > div {
  margin-top: 32px;
}