#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100svh;
}

#wrapper > a {
  border: 3px solid var(--secondary-color);
  padding: 8px;
  border-radius: 1em;
  transition: 0.3s;
  width: 50%;
  height: 30%;
  line-height: 100%;
  text-align: center;
  align-content: center;
}

#wrapper > a:hover {
  border: 3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}